.task-item-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 4px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.task-item-li--ready {
    text-decoration: line-through;
    background: #8f8;
}

.task-item-rm {
    background: #f88;
    border: none;
    border-radius: 3px;
}